* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.1rem;
}

html {
  font-size: 62.5%;
  font-family: "rubik", sans-serif;
}

.background {
  position: absolute;
  z-index: -1;
  width: 50rem;
  height: 100rem;
  background: linear-gradient(to left bottom, #e844ff, #8739ff);
  border-radius: 25.5rem;

  bottom: 20%;
  right: 50%;
}

.svg {
  width: 16px;
  stroke: hsl(0, 0%, 100%);
}

.white-box {
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
  width: 12.9rem;
  height: 2rem;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 1.4rem 1.4rem;
}

.profile-pic {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  margin-right: 1rem;
  border: 0.1rem solid hsl(0, 0%, 100%);
}

.dog-imgs {
  width: 4rem;
}

.container {
  max-width: 24.7rem;
  /* height: 50.5rem; */
  margin: 4rem auto;
  display: flex;
  flex-direction: column;

  outline: 1rem solid hsl(0, 0%, 100%);
  outline-offset: 0rem;
  border-radius: 2rem;

  background-color: hsl(271, 16%, 96%);
  box-shadow: 0 3rem 6rem -1rem hsla(271, 36%, 24%, 0.25);

  position: relative;
}

.header {
  background: linear-gradient(to left bottom, #e844ff, #8739ff);
  border-radius: 2rem 2rem 0.6rem 0.6rem;
  display: flex;
  padding-top: 3rem;
  padding-bottom: 1rem;

  position: relative;
}

.arrow-left {
  margin-left: 1rem;
  margin-right: 0.5rem;
}

h2 {
  margin-right: 7.5rem;
  color: hsl(0, 0%, 100%);
}

span {
  font-size: 0.8rem;
  color: hsl(276, 100%, 81%);
  font-weight: 400;
}

.container-2 {
  background-color: hsl(271, 16%, 96%);
}

.messages-pt1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  color: hsl(276, 55%, 52%);
  margin: 1rem 1rem;

  font-size: 0.8rem;
  font-weight: 400;
}

.messages-pt1-1 {
  background-color: hsl(276, 41%, 93%);
  padding: 1rem;
  border-radius: 1rem 1rem 1rem 0.4rem;
  margin-right: 40%;
  font-size: 0.8rem;
  line-height: 1.1rem;
}

.messages-pt1-2 {
  background-color: hsl(276, 41%, 93%);
  padding: 1rem;
  border-radius: 1rem 1rem 1rem 0.4rem;
  margin-right: 40%;
  font-size: 0.8rem;
  line-height: 1.1rem;
}

.messages-pt2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  color: hsl(271, 15%, 43%);

  margin: 1rem 1rem;
}

.dog-container {
  display: flex;
  gap: 1rem;
}

.dog-imgs {
  border-radius: 1rem;
  width: 4.5rem;
}

.messages-pt2-1 {
  background-color: hsl(0, 0%, 100%);
  margin-left: 35%;
  padding: 1rem;

  border-radius: 1rem 1rem 0.4rem 1rem;
  box-shadow: 0 1rem 0.5rem -0.5rem rgba(62, 39, 83, 0.04);
  font-size: 0.8rem;
  line-height: 1.1rem;
}

.messages-pt2-2 {
  background-color: hsl(0, 0%, 100%);
  margin-left: 40%;
  padding: 1rem;

  border-radius: 1rem 1rem 0.4rem 1rem;
  box-shadow: 0 1rem 0.5rem -0.5rem rgba(62, 39, 83, 0.04);
  font-size: 0.8rem;
  line-height: 1.1rem;
}

.messages-pt3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 1rem;
}

.messages-pt3-pt1 {
  color: hsl(276, 55%, 52%);
  background-color: hsl(276, 41%, 93%);
  padding: 1rem;
  border-radius: 1rem 1rem 1rem 0.4rem;
  margin-right: 40%;
  padding-right: 1.8rem;
  padding-left: 1rem;
  font-size: 0.8rem;
  line-height: 1.1rem;
}

.messages-pt3-pt2 {
  background: linear-gradient(to right bottom, #e844ff, #8739ff);
  padding: 1rem;
  color: hsl(0, 0%, 100%);
  border-radius: 1rem 1rem 1rem 0.4rem;
  margin-right: 30%;
  font-size: 0.8rem;
}

.messages-pt3-pt3 {
  background: linear-gradient(to right bottom, #e844ff, #8739ff);
  padding: 1rem;
  color: hsl(0, 0%, 100%);
  border-radius: 1rem 1rem 1rem 0.4rem;
  margin-right: 30%;
  font-size: 0.8rem;
}

.price1 {
  font-size: 1.2rem;
  color: hsl(0, 0%, 100%);
  margin-left: 5rem;
  font-weight: 700;
}

.price2 {
  font-size: 1.2rem;
  color: hsl(0, 0%, 100%);
  margin-left: 6.5rem;
  font-weight: 700;
}

.message-bar {
  position: relative;
}

.bar {
  background-color: hsl(0, 0%, 100%);
  margin: 1rem;
  padding: 1.2rem;
  border-radius: 1.7rem;
  color: hsl(210, 7%, 79%);
  font-size: 0.9rem;
}

.arrow-right {
  width: 2.6rem;
  height: 2.6rem;
  background-color: hsl(271, 36%, 24%);
  color: hsl(0, 0%, 100%);
  border-radius: 50%;

  position: absolute;
  right: 8%;
  top: 50%;
  transform: translateY(-50%);
}

.product-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
  color: hsla(271, 36%, 24%, 1);
  margin-bottom: 2rem;
}

.desc {
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.8rem;
  max-width: 31.1rem;
  color: hsla(271, 7%, 64%, 1);
}

@media (min-width: 800px) {
  body {
    display: flex;
    align-items: center;
    max-width: 80rem;
    gap: 15rem;
    margin: 7rem auto;
  }

  .background {
    bottom: 0%;
    right: 70%;
  }

  .background2 {
    position: absolute;
    top: 10%;
    right: -430%;
    z-index: -1;
    width: 50rem;
    height: 100rem;
    background: linear-gradient(to left bottom, #e844ff, #8739ff);
    border-radius: 25.5rem;
    opacity: 4%;
  }

  h1 {
    text-align: left;
    width: 31.1rem;
  }

  .desc {
    text-align: left;
  }
}
